<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"/>
<body>
<header th:insert="blocks/header :: header"/>
<div class="container mt-5">
    <a href="/stuff" class="btn btn-lg btn-primary">Персонал</a>
    <a href="/posts" class="btn btn-lg btn-primary">Должности</a>
    <a href="/customers" class="btn btn-lg btn-primary">Клиенты</a>
    <a href="/services" class="btn btn-lg btn-primary">Услуги</a>
    <a href="/status" class="btn btn-lg btn-primary">Статусы</a>
</div>
<footer th:insert="blocks/footer :: footer"/>
</body>
</html>