<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"/>
<body>
<header th:insert="blocks/header :: header"/>
<div class="container mt-5">
    <font th:color="${color}"><h3 th:text="${titleOnPage}"/></font>
    <font th:color="${color}"><h3 th:each="arrayListId: ${arrayList}" th:text="${arrayListId}"/></font>
    <form action="/order/add" method="post">
        <div class="form-floating">
            <input type="date" name="data" class="form-control" id="data" placeholder="Text" th:value="${dayToday}" th:min="${dayToday}"
                   max="2021-12-31">
            <label for="data">Дата</label>
        </div>
        <div class="form-floating">
            <input type="time" name="time1" class="form-control" id="time1" placeholder="Text">
            <label for="time1">Время начала работы</label>
        </div>
        <div class="form-floating">
            <input type="time" name="time2" class="form-control" id="time2" placeholder="Text">
            <label for="time2">Время окончания работы</label>
        </div>
        <div class="form-floating">
            <select class="form-control" name="status">
                <option th:each="statusId: ${status}" th:value="${statusId.id}" th:text="${statusId.status}" />
            </select>
        </div>
        <div class="form-floating">
            <select class="form-control" name="nameStuff">
                <option th:each="stuffId: ${stuff}" th:value="${stuffId.id}" th:text="${stuffId.name}" />
            </select>
        </div>
        <div class="form-floating">
            <select class="form-control" name="service">
                <option th:each="serviceId: ${service}" th:value="${serviceId.id}" th:text="${serviceId.service}" />
            </select>
        </div>
        <div class="form-floating">
            <select class="form-control" name="customer" id="customer" placeholder="Text">
                <option th:each="customerId: ${customer}" th:value="${customerId.id}" th:text="${customerId.name}" />
            </select>
            <label for="customer">Клиент</label>
        </div>
        <button type="submit" class="btn btn-success">Добавить заказ</button>
    </form>
    <div th:each="orderLoop : ${order}" class="alert alert-info mt-2">
        <h2 th:text="'Дата: '+${orderLoop.data}"/>
        <h2 th:text="'Время: '+${orderLoop.time1}+' - '+${orderLoop.time2}"/>
        <h2 th:text="'Статус: '+${orderLoop.status.status}"/>
        <h2 th:text="'Имя работника: '+${orderLoop.stuff_name.name}"/>
        <h2 th:text="'Услуга: '+${orderLoop.service.service}"/>
        <h2 th:text="'Имя клиента: '+${orderLoop.customers_name.name}"/>
        <a th:href="'/order/'+${orderLoop.id}+'/edit'" class="btn btn-warning">Редактировать</a>
        <form th:action="'/order/'+${orderLoop.id}+'/remove'" method="post">
            <button type="submit" class="btn btn-warning">Удалить</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"/>
</body>
</html>