<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"/>
<body>
<header th:insert="blocks/header :: header"/>
<div class="container mt-5" th:each="order : ${orderId}">
    <font th:color="${color}"><h3 th:text="${titleOnPage}"/></font>
    <font th:color="${color}"><h3 th:each="arrayListId: ${arrayList}" th:text="${arrayListId}"/></font>
    <form th:action="'/order/'+${order.id}+'/edit'" method="post">
        <div class="form-floating">
            <input type="date" name="data" class="form-control" id="date" placeholder="date" th:value="${dayToday}" th:min="${dayToday}">
            <label for="date">Дата</label>
        </div>
        <div class="form-floating">
            <input type="time" name="time1" class="form-control" id="time1" placeholder="time1" th:value="${order.time1}">
            <label for="time1">Время начала работы</label>
        </div>
        <div class="form-floating">
            <input type="time" name="time2" class="form-control" id="time2" placeholder="time2" th:value="${order.time2}">
            <label for="time2">Время окончания работы</label>
        </div>
        <div class="form-floating">
            <select class="form-control" name="status">
                <option th:each="statusId: ${status}" th:value="${statusId.id}" th:text="${statusId.status}" />
            </select>
        </div>
        <div class="form-floating">
            <select class="form-control" name="nameStuff">
                <option th:each="stuffId: ${stuff}" th:value="${stuffId.id}" th:text="${stuffId.name}" />
            </select>
        </div>
        <div class="form-floating">
            <select class="form-control" name="service">
                <option th:each="serviceId: ${service}" th:value="${serviceId.id}" th:text="${serviceId.service}" />
            </select>
        </div>
        <div class="form-floating">
            <select class="form-control" name="customer">
                <option th:each="customerId: ${customer}" th:value="${customerId.id}" th:text="${customerId.name}" />
            </select>
        </div>
        <button type="submit" class="btn btn-success">Обновить</button>
    </form>
    </div>
<footer th:insert="blocks/footer :: footer"/>
</body>
</html>