<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"/>
<body>
<header th:insert="blocks/header :: header"/>
<div class="container mt-5" th:each="postLoop : ${postId}">
    <h3 th:text="${title}" />
    <form th:action="'/posts/'+${postLoop.id}+'/editPosts'" method="post">
        <div class="form-floating">
            <input type="text" name="newPost" class="form-control" id="floatingName" placeholder="Password" th:value="${postLoop.post}">
            <label for="floatingName">Название должности</label>
        </div>
        <button type="submit" class="btn btn-success">Обновить</button>
    </form>
</div>
<footer th:insert="blocks/footer :: footer"/>
</body>
</html>