<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"/>
<body>
<header th:insert="blocks/header :: header"/>
<div class="container mt-5" th:each="customer : ${customersId}">
    <h3 th:text="${title}" />
    <form th:action="'/admin/'+${customer.id}+'/editCustomer'" method="post">
        <div class="form-floating">
            <input type="text" name="newCustomerName" class="form-control" id="floatingName" placeholder="Password" th:value="${customer.name}">
            <label for="floatingName">Имя</label>
        </div>
        <div class="form-floating">
            <input type="email" name="newCustomerEmail" class="form-control" id="floatingEmail" placeholder="name@example.com" th:value="${customer.email}">
            <label for="floatingEmail">Email</label>
        </div>
        <div class="form-floating">
            <input type="text" name="newCustomerPassword" class="form-control" id="floatingPassword" placeholder="Password" th:value="${customer.password}">
            <label for="floatingPassword">Пароль</label>
        </div>
        <button type="submit" class="btn btn-success">Обновить</button>
    </form>
    </div>
<footer th:insert="blocks/footer :: footer"/>
</body>
</html>