<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head"/>
<body>
<header th:insert="blocks/header :: header"/>
<h1 th:text="${title}" />
<div class="container mt-5">
        <h3 th:text="${titleDays}" />
            <form action="/admin/add" method="post">
                <input type="date" name="data"
                       th:value="${dayToday}" th:min="${dayToday}"
                       max="2021-12-31">
                <button type="submit" class="btn btn-success">Добавить дату</button>
            </form>
            <div th:each="day : ${days}" class="alert alert-info mt-2">
                <h3 th:text="${day.day}"/>
            </div>
</div>

</div>


<footer th:insert="blocks/footer :: footer"/>
</body>
</html>